.acordion {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0;
    border: 1px solid #fff;
    border-radius: 1rem;
    transition: .25s;

}


.acordion:hover {
    background-color: #55569E ;
    border-color: #55569E;
}

.acordion.open {
    background-color: #55569E ;
    border-color: #55569E;
}

.acordion .trigger {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem 2rem;
    background-color: transparent;
    color: aliceblue;
    border: none;
}

.acordion .trigger h2{
    margin: 0;
    font-size: 1.5rem;
    text-align: start;
}

.acordion .trigger:hover {
    cursor: pointer;
}

.acordion .trigger::after {
    content: '';
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("assets/img/arrow.png");
    transition: .5s;
}

.acordion.open .trigger::after {
    transform: rotate(180deg);
}

.acordion .content {
    display: none; 
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.acordion.open .content {
    display: block;
    padding: 0 1rem 1rem 2rem;
    height: auto;
    opacity: 1;
}
